body {
    background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31");
    opacity: .8;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}
